:root {
    --primary-color: #00DEB3;
    --secondary-color: #FFFFFF;
    --tertiary-color: #000000;
    --hover-color: #00ac89;
    --font-primary: 'Outfit', sans-serif;
    --border-radius: 30px;
    --padding: 10px;
    --color-footer:rgba(161, 161, 161, 0.316);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME */

.footer{ 
    margin-top: 5%;
    background-color: var(--color-footer);
    width: 100%;              /* Ocupar todo el ancho de la página */
    height: 23vh;        /* 28% de la altura de la ventana, menor para menos espacio */
    display: flex;                  /* Usamos flexbox */
    justify-content: center;        /* Centra los elementos horizontalmente */
    align-items: center;            /* Centra los elementos verticalmente */
    text-align: center;   
}

.banner{
    background-color: var(--primary-color);
    width: 100%;              /* Ocupar todo el ancho de la página */
    height: 28vh;             /* 28% de la altura de la ventana, menor para menos espacio */
    display: flex;
    flex-direction: column;   /* Coloca el título y subtítulo uno encima del otro */
    justify-content: center;  /* Centra el contenido verticalmente */
    align-items: center;      /* Centra el contenido horizontalmente */
    text-align: center;       /* Alinea el texto al centro */
} 

.subbanner {
    width:100%;              /* Ocupar todo el ancho de la página */
    height: 20vh;             /* 32% de la altura de la ventana, menos espacio */
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;      /* Centra el contenido verticalmente */
    text-align: center;       /* Alinea el texto al centro */
    margin-top: 0;            /* Elimina margen superior */
}


.botonescentrados {
    width:100%;              /* Ocupar todo el ancho de la página */
    height: 10vh;             /* 32% de la altura de la ventana, menos espacio */
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;      /* Centra el contenido verticalmente */
    text-align: center;       /* Alinea el texto al centro */
    margin-top: 0;            /* Elimina margen superior */
}


.bloquecompleto {
    width:100%;              /* Ocupar todo el ancho de la página */
    height: 100vh;             /* 32% de la altura de la ventana, menos espacio */
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;      /* Centra el contenido verticalmente */
    text-align: center;       /* Alinea el texto al centro */
    margin-top: 0;            /* Elimina margen superior */
}

.bloquechcio {
    width:100%;              /* Ocupar todo el ancho de la página */
    height: 100vh;             /* 32% de la altura de la ventana, menos espacio */
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;      /* Centra el contenido verticalmente */
    text-align: center;       /* Alinea el texto al centro */
    margin-top: 0;            /* Elimina margen superior */
}

.bloquestandard {
    padding-top: var(--padding);
    display: grid;
    grid-template-columns: auto ; /* Alterna entre columnas de labels e inputs */
    gap: 20px 40px; /* Espaciado entre filas y columnas */
    max-width: 1000px; /* Ajusta según tu diseño */
    margin: auto;
    align-items: center; /* Centra verticalmente los elementos */
}
/* Título */
.title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 70px;
    font-family: var(--font-primary);
    font-weight: bold;
    margin-bottom: 5px;       /* Reduce el espacio entre el título y el subtítulo */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
}

/* Subtítulo */
.subtitle {
    text-transform: uppercase; 
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 30px;
    font-family: var(--font-primary);
    padding: 10px 20px;
    margin-top: 0;             /* Elimina espacio superior para acercarlo más al título */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.txt { font-family: var(--font-primary);
    color: var(--primary-color);
    font-size: 20px;
    

}





/*BOTONES GENERALES*/
.boton-container {
    display: grid;                 /* Usamos grid para la disposición */
    grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas de igual tamaño */
    gap: 20px;                     /* Espacio entre los botones */
    justify-items: center;         /* Centra los botones horizontalmente */
    align-items: center;           /* Centra los botones verticalmente */
    margin: 20px; 
    width: auto;                 /* Margen alrededor del contenedor */
}

.boton {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 150px;                 /* Ancho del botón */
    height: 50px;                 /* Alto del botón */
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}




.boton:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.boton:focus {
    outline: none;
    box-shadow: 0px 0px 8px var(--primary-color);
}



.boton2 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 150px;                 /* Ancho del botón */
    height: 50px;                 /* Alto del botón */
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}



.boton2:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.boton2:focus {
    outline: none;
    box-shadow: 0px 0px 8px var(--secondary-color);
}
/* Estilos generales para los inputs */
input, select {
    width: 100%;
    padding: var(--padding);
    margin: 8px 0;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    font-family: var(--font-primary);
    font-size: 16px;
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

/* Cambiar el borde y el fondo cuando el input está activo */
input:focus, select:focus {
    border-color: var(--hover-color);
    outline: none;
    background-color: #f1f1f1;
}

/* Estilos para selects */
select {
    appearance: none; /* Oculta el diseño por defecto del navegador */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2300DEB3" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z"/></svg>');
    color:var(--tertiary-color); /* Cambia este color */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 40px;
    padding-right: 30px;
}

label {
    color: var(--hover-color);
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-primary);
}

/* Estilos para los botones dentro de los formularios */
.buttonform {
    width: 1000px; 
    padding: var(--padding);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-family: var(--font-primary);
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 0 auto; /* Centro horizontal */
    margin-top: 2%;
  
}

.buttonform:hover {
    background-color: var(--hover-color)
}
.form-grid {
    display: grid;
    grid-template-columns: auto ; /* Alterna entre columnas de labels e inputs */
    gap: 20px 40px; /* Espaciado entre filas y columnas */
    max-width: 1000px; /* Ajusta según tu diseño */
    margin: auto;
    align-items: center; /* Centra verticalmente los elementos */
}

.form-grid label {
    font-size: 16px;
    font-weight: bold;
    color: var(--hover-color);
    text-align: left; /* Labels alineados a la derecha */
}

.form-grid input, 
.form-grid select {
    width: 100%; /* Inputs y selects ocupan toda su columna */
    padding: 10px;
    border: 1px solid var(--primary-color);
    font-size: 16px;
    color: var(--primary-color);
}


ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
    font-family: var(--font-primary); /* Establece una fuente estándar */
    width: 100%; /* Hace que la lista ocupe el 100% del ancho del contenedor */
}

li {
    background-color: #f9f9f9; /* Fondo claro para los items */
    padding: 15px; /* Espacio alrededor de cada item */
    margin-bottom: 10px; /* Espacio entre los items */
    border: 1px solid var(--primary-color); /* Bordes suaves */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease; /* Efecto de transición al pasar el mouse */
}

li:hover {
    transform: translateY(-5px); /* Levanta el item ligeramente al pasar el mouse */
    background-color: #f0f0f0; /* Fondo ligeramente más oscuro al pasar el mouse */
}

li span {
    font-weight: bold; /* Destaca los textos importantes */
}

li .precio {
    color: var(--hover-color); /* Verde para los precios */
    font-weight: bold;
    font-size: 1.1em; /* Hace que el precio sea un poco más grande */
}






p { font-family: var(--font-primary);
    color: var(--primary-color);
    font-size: 20px;
    

}


.error{ 
    font-family: var(--font-primary);
    color: var(red);
    font-size: 20px;
    
}