:root {
    --primary-color: #00DEB3;
    --secondary-color: #FFFFFF;
    --tertiary-color: #000000;
    --hover-color: #00ac89;
    --font-primary: 'Outfit', sans-serif;
    --border-radius: 30px;
    --padding: 10px;
    --color-footer:rgba(161, 161, 161, 0.316);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME */

.footer{ 
    margin-top: 5%;
    background-color: var(--color-footer);
    width: 100%;             
    height: 23vh;       
    display: flex;                  
    justify-content: center;        
    align-items: center;            
    text-align: center;   
}

.banner{
    background-color: var(--primary-color);
    width: 100%;              
    height: 28vh;            
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center;      
    text-align: center;       
} 

.subbanner {
    width:100%;            
    height: 20vh;           
    display: flex;
    justify-content: center;  
    align-items: center;     
    text-align: center;       
    margin-top: 0;           
}


.botonescentrados {
    width:100%;             
    height: 10vh;             
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    margin-top: 0;            
}


.bloquecompleto {
    width:100%;              
    height: 100vh;             
    display: flex;
    justify-content: center; 
    align-items: center;      
    text-align: center;      
    margin-top: 0;            
}

.bloquechcio {
    width:100%;             
    height: 100vh;             
    display: flex;
    justify-content: center; 
    align-items: center;      
    text-align: center;       
    margin-top: 0;           
}

.bloquestandard {
    padding-top: var(--padding);
    display: grid;
    grid-template-columns: auto ; 
    gap: 20px 40px; 
    max-width: 1000px;
    margin: auto;
    align-items: center; 
}
/* Título */
.title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 70px;
    font-family: var(--font-primary);
    font-weight: bold;
    margin-bottom: 5px;       
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

/* Subtítulo */
.subtitle {
    text-transform: uppercase; 
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 30px;
    font-family: var(--font-primary);
    padding: 10px 20px;
    margin-top: 0;             
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); 
}

.txt { font-family: var(--font-primary);
    color: var(--primary-color);
    font-size: 20px;
    

}





/*BOTONES GENERALES*/
.boton-container {
    display: grid;                
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;                     
    justify-items: center;         
    align-items: center;          
    margin: 20px; 
    width: auto;                
}

.boton {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 150px;                 
    height: 50px;                
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}




.boton:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.boton:focus {
    outline: none;
    box-shadow: 0px 0px 8px var(--primary-color);
}



.boton2 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 150px;                 
    height: 50px;                 
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}



.boton2:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.boton2:focus {
    outline: none;
    box-shadow: 0px 0px 8px var(--secondary-color);
}
/* Estilos generales para los inputs */
input, select {
    width: 100%;
    padding: var(--padding);
    margin: 8px 0;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    font-family: var(--font-primary);
    font-size: 16px;
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

/* Cambiar el borde y el fondo cuando el input está activo */
input:focus, select:focus {
    border-color: var(--hover-color);
    outline: none;
    background-color: #f1f1f1;
}

/* Estilos para selects */
select {
    appearance: none; /* Oculta el diseño por defecto del navegador */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2300DEB3" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z"/></svg>');
    color:var(--tertiary-color); /* Cambia este color */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 40px;
    padding-right: 30px;
}

label {
    color: var(--hover-color);
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-primary);
}

/* Estilos para los botones dentro de los formularios */
.buttonform {
    width: 1000px; 
    padding: var(--padding);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-family: var(--font-primary);
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 0 auto; 
    margin-top: 2%;
  
}

.buttonform:hover {
    background-color: var(--hover-color)
}
.form-grid {
    display: grid;
    grid-template-columns: auto ; 
    gap: 20px 40px; 
    max-width: 1000px;
    margin: auto;
    align-items: center; 
}

.form-grid label {
    font-size: 16px;
    font-weight: bold;
    color: var(--hover-color);
    text-align: left;
}

.form-grid input, 
.form-grid select {
    width: 100%; 
    padding: 10px;
    border: 1px solid var(--primary-color);
    font-size: 16px;
    color: var(--primary-color);
}


ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    font-family: var(--font-primary); 
    width: 100%; 
}

li {
    background-color: #f9f9f9; 
    padding: 15px; 
    margin-bottom: 10px; 
    border: 1px solid var(--primary-color);
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /
}

li:hover {
    transform: translateY(-5px); 
    background-color: #f0f0f0;
}

li span {
    font-weight: bold; 
}

li .precio {
    color: var(--hover-color); 
    font-weight: bold;
    font-size: 1.1em; 
}





p { font-family: var(--font-primary);
    color: var(--primary-color);
    font-size: 20px;
    

}


.error{ 
    font-family: var(--font-primary);
    color: var(red);
    font-size: 20px;
    
}
a{
    text-decoration: none;
}